{% extends 'base.html' %}

{% block title %}
  Accountant - Historia
{% endblock %}

{% block main %}
<p><h2>Historia</h2></p>
<div class="container mt-3">
        <form class="row" method="post">
            <div class="col text-end">
                <input type="number" min="1" step="1" max="{{ max_value }}" name="history_line_from" class="form-control" placeholder="Start">
            </div>
            <div class="col">
                <input type="number" min="1" step="1" max="{{ max_value }}" name="history_line_to" class="form-control" placeholder="Koniec">
            </div>
            <div class="col text-start">
                <button type="submit" value="wyszukaj_przedzial" name="submit" class="btn btn-primary">Wyszukaj</button>
            </div>
            <div class="mb-3"></div>
           </form>
    <div class="container">
        <div class="alert alert-primary" role="alert">
  <h5 class="alert-heading">Historia</h5>
  <p>  {% for x in history %}
        <tr>
            <h6>{{ x }}</h6>
        </tr>
        {% endfor %}</p>
  <hr>
  <p class="mb-0"></p>
        </div>
<div class="mt-3">
</div>
{% endblock %}
